<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Piglatinized:</h1>
    <h3><%= @new_piggy.piglatinize(@text) %></h3>

  </body>
</html>
